/* Box Model Hack */
* {
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
     height: 100vh;
     display: flex;
     width: 80vw;
     margin: 0 auto;
     justify-content: center;
     column-gap: 10vw;
     align-items: center;
}

form * {
     display: block;
     margin: 10px 0;
}
.hidden {
     display: none;
}
.intro {
     flex-basis: 50%;
}
.appForm {
     flex-basis: 50%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
input {
     width: 100%;
     border-radius: 6px;
}
a {
     text-decoration: none;
     text-align: center;
}
#encodeMessage {
     padding: 5px;
     border: 1px solid grey;
     background-color: rgb(62, 145, 223);
     margin-bottom: 30px;
     border-radius: 6px;
     color: white;
}
.shortUrl {
     display: block;
     margin: 0 auto;
}